<div class="container">
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input (input)="onChange()" required type="text" formControlName="password" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="passDiff">
      <div [ngStyle]="{'background-color': section1}"></div>
      <div [ngStyle]="{'background-color': section2}"></div>
      <div [ngStyle]="{'background-color': section3}"></div>
    </div>
  </form>
</div>
